{% extends 'base.html.twig' %}

{% block title %}Liste des étapes{% endblock %}

{% block body %}
    <h1>Liste des étapes</h1>

    <p>
        <a class="btn btn-outline-success" href="{{ path('admin_etape_new') }}"><i class="fa fa-plus"></i> Ajouter une étape</a>
    </p>

    <table class="table">
        <thead>
            <tr>
                <th>Numéro de l'étape</th>
                <th>Ville</th>
                <th>Nombre de jour(s)</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for etape in etapes %}
            <tr>
                <td>{{ etape.numeroEtape }}</td>
                <td>{{ etape.villeEtape }}</td>
                <td>{{ etape.nombreJours }}</td>
                <td>
                    <a class="btn btn-outline-primary" href="{{ path('admin_etape_show', {'id': etape.id}) }}">Voir l'étape</a>
                    <a class="btn btn-outline-warning" href="{{ path('admin_etape_edit', {'id': etape.id}) }}"><i class="fa fa-edit"></i> Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
