{# templates/front/circuit_show.html.twig #}

{# Template de la page de consultation d'un circuit en front #}

{% extends 'base.html.twig' %}

{% block title %} Détails du circuit {{ progCircuit.id }} {% endblock %}

{% block body %}
    <h1>Circuit {{ progCircuit.id }}</h1>
    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ progCircuit.id }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ progCircuit.circuit.description }}</td>
        </tr>
        <tr>
            <th>Ville départ</th>
            <td>{{ progCircuit.circuit.villeDepart }}</td>
        </tr>
        <tr>
            <th>Pays départ</th>
            <td>{{ progCircuit.circuit.paysDepart }}</td>
        </tr>
        <tr>
            <th>Date départ</th>
            <td>{{ progCircuit.dateDepart|date('d-m-Y') }}</td>
        </tr>
        <tr>
            <th>Durée circuit</th>
            <td>{{ progCircuit.circuit.dureeCircuit }}{{ " jours" }}</td>
        </tr>
        <tr>
            {#<th>Etapes</th>
<td>{{ progCircuit.etapes }}</td>#}
        </tr>
        <tr>
            <th>Ville arivée</th>
            <td>{{ progCircuit.circuit.villeArrivee }}</td>
        </tr>
        <tr>
            <th>Prix</th>
            <td>{{ progCircuit.prix }}{{ "€" }}</td>
        </tr>
        </tbody>
    </table>
    <p>Les étapes de ce circuit sont:</p>
    <table>
        <thead><tr>
            <th>Numéro</th>
            <th>Ville</th>
            <th>Durée</th>
        </tr></thead>

        <tbody>{%  for etape in progCircuit.circuit.etapes %}
            <tr>
                <td>{{ etape.numeroEtape }}</td>
                <td>{{ etape.villeEtape }}</td>
                <td>{{ etape.nombreJours }}{{ " jours" }}</td>
            </tr>
        {% else %}
            <p>Pas d'étapes trouvées.</p>
        {% endfor %} {# etapes #}</tbody>
    </table>
    {{ dump(progCircuit) }}

    <a href="{{ path('front') }}">retour à l'accueil</a>
{% endblock %}