{# templates/front/circuit_show.html.twig #}

{# Template de la page de consultation d'un circuit en front #}

{% extends 'base.html.twig' %}

{% block title %} Détails du circuit {{ progCircuit.circuit.description }} {% endblock %}

{% block main %}
    <h2>Circuit {{ progCircuit.circuit.description }}</h2>
    <br>
    <table class="table table-striped table-bordered">
        <tbody>
        <tr>
            <th>Ville de départ</th>
            <td>{{ progCircuit.circuit.villeDepart }}</td>
        </tr>
        <tr>
            <th>Pays de départ</th>
            <td>{{ progCircuit.circuit.paysDepart }}</td>
        </tr>
        <tr>
            <th>Date du départ</th>
            <td>{{ progCircuit.dateDepart|date('d-m-Y') }}</td>
        </tr>
        <tr>
            <th>Durée du circuit</th>
            <td>{{ progCircuit.circuit.dureeCircuit }}{{ " jour(s)" }}</td>
        </tr>
        <tr>
            <th>Ville d'arivée</th>
            <td>{{ progCircuit.circuit.villeArrivee }}</td>
        </tr>
        <tr>
            <th>Prix</th>
            <td>{{ progCircuit.prix }}{{ "€" }}</td>
        </tr>
        </tbody>
    </table>
    <br>
    <h4>Etapes du circuit</h4>
    <br>
    <table class="table table-striped table-bordered">
        <thead><tr>
            <th>Numéro</th>
            <th>Ville</th>
            <th>Durée</th>
        </tr></thead>

        <tbody>{%  for etape in progCircuit.circuit.etapes %}
            <tr>
                <td>{{ etape.numeroEtape }}</td>
                <td>{{ etape.villeEtape }}</td>
                <td>{{ etape.nombreJours }}{{ " jour(s)" }}</td>
            </tr>
        {% else %}
            <p>Pas d'étapes trouvées.</p>
        {% endfor %} {# etapes #}</tbody>
    </table>
    <br>
    <a class="btn btn-outline-primary" href="{{ path('front_circuit_like', {id:progCircuit.id})  }}">J'aime ce circuit!</a>
    <br><br>

{% endblock %}
{% set progCircuit=progCircuit %}