<header>
        <div class="jumbotron jumbotron-fluid jumbotron-header align-content-center">
                <p class="display-3 text-center">AgVoy</p>
                <p class="text-center">L'agence de voyage en ligne</p>
            <nav>
                <ul class="nav nav-justified bg-custom rounded shadow">
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="{{ path('front') }}">Accueil</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-dark" data-toggle="dropdown" href="#">Circuits</a>
                        <div class="dropdown-menu">
                            {% for progc in progCircuits %}
                                <a class="dropdown-item" href="{{ path('front_circuit_show',{'id':progc.id}) }}">
                                    {{ progc.circuit.description }}
                                </a>
                            {% endfor %}
                        </div>
                    </li>
                    {% if app.user and is_granted('ROLE_ADMIN') %}
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="{{ path('back') }}">Accès administrateur</a>
                        </li>
                    {% endif %}
                    {% if not app.user %}
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="{{ path('fos_user_security_login') }}">Login</a>
                        </li>
                    {% endif %}
                    {% if app.user %}
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="{{ path('fos_user_security_logout') }}">Logout</a>
                        </li>
                    {% endif %}
                    {% if not is_granted('ROLE_ADMIN') %}
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="{{ path('front_likes') }}">Mes likes</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
</header>