{% extends 'base.html.twig' %}

{% block title %}Hello!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
    <h2>Liste des circuits programmés</h2>
    <br>
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>Description</th>
                <th>Ville de départ</th>
                <th>Pays de départ</th>
                <th>Durée</th>
                <th>Ville d'arrivée</th>
                <th>Date du départ</th>
                <th>Prix</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for progCircuit in progCircuits %}
                <tr>
                    <td>{{ progCircuit.circuit.description }}</td>
                    <td>{{ progCircuit.circuit.villeDepart }}</td>
                    <td>{{ progCircuit.circuit.paysDepart }}</td>
                    <td>{{ progCircuit.circuit.dureeCircuit }} jour(s)</td>
                    <td>{{ progCircuit.circuit.villeArrivee }}</td>
                    <td>{{ progCircuit.dateDepart|date('d-m-Y') }}</td>
                    <td>{{ progCircuit.prix }}€</td>
                    <td>
                        <p>
                            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#details{{ loop.index }}" aria-expanded="false" aria-controls="collapseExample">
                                Détails
                            </button>
                        </p>

                        <div class="collapse" id="details{{ loop.index }}">
                            <table class="table table-striped table-bordered">
                                <thead><tr>
                                    <th>Numéro</th>
                                    <th>Ville</th>
                                    <th>Durée</th>
                                </tr></thead>

                                <tbody>{%  for etape in progCircuit.circuit.etapes %}
                                    <tr>
                                        <td>{{ etape.numeroEtape }}</td>
                                        <td>{{ etape.villeEtape }}</td>
                                        <td>{{ etape.nombreJours }}{{ " jour(s)" }}</td>
                                    </tr>
                                {% else %}
                                    <p>Pas d'étapes trouvées.</p>
                                {% endfor %} {# etapes #}</tbody>
                            </table>
                            <a href="{{ path('front_circuit_show', {id:progCircuit.id})  }}">Voir plus...</a>

                        </div>

                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="2">no circuits found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>



{% endblock %}
{% block footer %}{% endblock %}