{% extends 'base.html.twig' %}

{% block title %}Circuit{% endblock %}

{% block main %}
    <h1>Circuit</h1>

    <table class="table table-striped table-bordered">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ circuit.id }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ circuit.description }}</td>
            </tr>
            <tr>
                <th>PaysDepart</th>
                <td>{{ circuit.paysDepart }}</td>
            </tr>
            <tr>
                <th>VilleDepart</th>
                <td>{{ circuit.villeDepart }}</td>
            </tr>
            <tr>
                <th>DureeCircuit</th>
                <td>{{ circuit.dureeCircuit }}</td>
            </tr>
            <tr>
                <th>VilleArrivee</th>
                <td>{{ circuit.villeArrivee }}</td>
            </tr>
        </tbody>
    </table>
    <br>
    <h3>Etapes du circuit</h3>
    <br>
    <table class="table table-striped table-bordered">
        <thead><tr>
            <th>Numéro</th>
            <th>Ville</th>
            <th>Durée</th>
        </tr></thead>

        <tbody>{%  for etape in circuit.etapes %}
            <tr>
                <td>{{ etape.numeroEtape }}</td>
                <td>{{ etape.villeEtape }}</td>
                <td>{{ etape.nombreJours }}{{ " jour(s)" }}</td>
            </tr>
        {% else %}
            <p>Pas d'étapes trouvées.</p>
        {% endfor %} {# etapes #}</tbody>
    </table>
    <br>

    <a class="btn" href="{{ path('admin_circuit_addetape', {'id': circuit.id}) }}">Ajoutez une étape</a>

    <a class="btn" href="{{ path('admin_circuit_index') }}">back to list</a>

    <a class="btn" href="{{ path('admin_circuit_edit', {'id': circuit.id}) }}">edit</a>
    <br>
    {{ include('back/circuit/_delete_form.html.twig') }}
{% endblock %}
